# MongoDB Connection String
# For local development: mongodb://127.0.0.1:27017/edupath
# For production (MongoDB Atlas): mongodb+srv://username:password@cluster.mongodb.net/edupath
MONGODB_URI=mongodb://127.0.0.1:27017/edupath

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
